* {box-sizing: border-box;}

h1 {font-size: 80px;
    font-weight: bold;
    font-style: Arial;
    text-align: center;
    margin: 0px;
}

h2 {font-size: 35px;
    font-weight: 50;
    font-style: Arial;
    text-align: center;
    margin: 0px;
}

.my-special-name {font-size: 35px;
    font-weight: 100;
    font-style: italic;
    color: black;
    background-color: white;
    padding-top: 35px;
    padding-right: 0px;
    padding-bottom: 35px ;
    padding-left: 0px;
    }

.main-tag {border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-radius: 25px;
    color:white;
    background-color: red;
    text-align: center;
    width: 600px;
    height: 300px;
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 15%;
    margin-top: 5%;
}
.my-special-button {
    text-align:center;
    justify-content: center;
}

.green-button {
    text-align:center;
    justify-content: center;
}

.red-button {
    text-align:center;
    justify-content: center;
}

.blue-button {
    text-align:center;
    justify-content: center;
}